<header id="menu">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/projects"> Projects </a></li>
            <li><a href="/contact"> Contact </a></li>
            <li><a href="/about"> About </a></li>

            {{#if isLoggedIn}}
            <div>
                Hi, {{name}}! &nbsp; &nbsp;
                <a href="/logout"> Logout </a>
            </div>
            {{else}}
                <a href="/login"> Login </a>
            {{/if}}
        </ul>
    </div>
</header>
