<div id="main">
    <h1>About</h1>
    <div>Age: 21</div>
    <div>Hobbies: My two passions in life are animals and singing, so I am invested in rescuing homeless cats and spend a lot of my free time singing. Sports I enjoy are padel and golf.</div>

    <h2>Education</h2>
    <table>
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>{{cname}}</td>
                    <td>{{ccredits}}</td>
                    <td>{{cdesc}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>