<div id="main">
    <h1>About</h1>
    <div>Age: 21</div>
    <div>Hobbies: My two passions in life are animals and singing, so I am invested in rescuing homeless cats and spend a lot of my freetime singing. Sports I enjoy are padel and golf.</div>
    <h2>Education</h2>
    <div>‣ 2022 - ongoing: Computer Engineering: Software Engineering and Mobile Platforms, Jönköping University, Jönköping</div>
    <div>‣ 2017 - 2020: Student's degree from the natural sciences program, Erik Dahlbersgymnasiet, Jönköping</div>
</div>