<div class="contact-info">
    <h1>Contact Information</h1>
    <div class="contact-item">• Phone: 07 61 60 51 52</div>
    <div class="contact-item">• Email: amandaliljahr@gmail.com</div>
    <div class="contact-item">• Address: Strandgränd 2, 55321, Jönköping</div>
</div>