<div id="main">
    <h1>Skills</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each skills}}
                <tr>
                    <td>{{sname}}</td>
                    <td>{{stype}}</td>
                    <td>{{sdesc}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>